@{
    ViewData["Title"] = "35 ANIVERSARIO";
}
<h1 class="display-4" style="font-weight:bold;font-family:Georgia, 'Times New Roman', Times, serif">Torneo de Ajedrez: Copa Instituto N°20</h1>
<br />
<br />
<br />
<center><img src="~/imgs/logo2.png" width="70px" /></center>
<br />
<br />
<br />
<br />
<br />
<br />
<center><img src="~/imgs/torneo.jpg" width="300" height="300" /></center>
<br />
<br />
<br /><p>En el marco de sus 35 años de trayectoria, el Instituto invita al Torneo de Ajedrez, Copa Instituto Superior de Profesorado N°20 “Senador Néstor Zamaro”.</p>
<br /><p>El mismo, es organizado por el Círculo de Ajedrez de San Justo y la Biblioteca Popular Mariano Moreno y  se desarrollará el próximo 4 de mayo en el SUM de la institución “Don Horacio José Grosso”, desde las 14 hs.</p>
<br /><p>Inscripción: $500.</p>
<br /><p>Modalidad: Blitz 5m +3´.</p>
<br /><p>Premiación:</p>
<ul>
    <li>Campeón Copa Aniversario.</li>
    <li>Mejor terna Instituto.</li>
    <li>Mejor terna Juvenil.</li>
    <li>Mejor terna infantil.</li>
</ul>
<p>Se invita a todos los interesados, sumarse a la propuesta.</p>
<br />
<p>Referente Institucional: Prof. Juan Pablo Gaido.</p>



